/* roots */


body {
    background-color: #d35b00;
    margin: 0;

}

.baggrund-historie {
    display: flex;
    width: 100%;
    height: auto;
}

.opstart {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.opstart-billede {
    width: 100%;
    height: auto;
}

.corona-krise {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.corona-billede {
    width: 100%;
    height: auto;
}

.sidste-ord {
    display: flex;
    flex-direction: column;
}

.tekst-sidste-ord {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.sidste-billede {
    width: 100%;
    height: 10px;
}
.opstart-headline, .corona-krise-headline, .sidste-ord-headline{
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;

}

.footer-rækker {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.copyrights{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logoer {
    display: flex;
    gap: -10%;
    justify-content: end;
    margin-right: 3%;
}

.jumbo-copy {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-left: 6%;
}
