/* roots */


body {
    background-color: #d35b00;
    margin: 0;

}

.baggrund-historie {
    display: flex;
    width: 100%;
    height: auto;
}

.opstart {
    display: flex;
    flex-direction: column;
    margin: 15%;
}

.opstart-billede {
    width: 100%;
    height: auto;
}

.opstart-headline, .corona-krise-headline, .sidste-ord-headline{
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;

}

.footer-rækker {
    display: flex;
    justify-content: space-evenly;

}

.copyrights{
    display: flex;
    justify-content: end;
    align-items: center;
}

